@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
    font-weight: 600;
    line-height: 101%;
    letter-spacing: -.0475em;
}

h1{
    font-size: clamp(3rem, 1.5rem + 6.0714vw, 7.5rem) ;
    line-height: 99%;
}

h2{
    font-size: clamp(1.8rem, 1rem + 3vw, 3rem) ;
}


.text-fluid-body {
    font-size: clamp(1rem, .8571rem + .7143vi, 1.5rem);
}
.text-balance {
    text-wrap: balance;
}

.body-text {
    font-size: 16px;
}

p {
    text-wrap: pretty;
    line-height: 145%;
}

.section-l-p{
        padding-left: 1.5rem;
    }
    .section-r-p{
        padding-right: 1.5rem;
    }

.section-title-div{
    padding-bottom: 1rem;
}

.section-title{
    text-transform: uppercase;
    letter-spacing: .0475em;
    font-weight: 600;
    font-size: .75rem;
}

@media (min-width: 640px) {
    .section-l-p{
        padding-left: 4%;
    }
    .section-r-p{
        padding-right: 4%;
    }
}

@media (min-width:1024px){
    .section-title{
        font-size: 1rem;
    }
    .body-text {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    .body-text {
        font-size: 20px;
    }
}

@media (min-width: 1540px) {
    .section-l-p{
        padding-left: 7%;
    }
    .section-r-p{
        padding-right: 7%;
    }
}





.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 600;
  font-style: italic;
}
